.table-label {
    padding: 9px 9px;
}

.button {
    width: 33%;
    margin: 0 0;
    margin-left: 0;
    margin-right: 0;
}

.button-group {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3px;
}
